* {
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: "Gilroy";
  src: url(./fonts/Gilroy-Semibold.ttf);
}

@font-face {
  font-family: "Merriweather";
  src: url(./fonts/Merriweather-Black.ttf);
}

body {
  background-color: #191411;
  color: #ffffff;
  font-family: "Gilroy", sans-serif;
}

.container {
  max-width: 1200px;

  margin-left: auto;
  margin-right: auto;
  display: flex;
}
.button {
  display: flex;
  width: 260px;
  height: 62px;
  padding: 19px 50px;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  gap: 10px;
  background: linear-gradient(96deg, #da8023 0%, #e2b438 100%);
  color: #191411;

  text-align: center;

  font-size: 18px;
  font-weight: 600;
  cursor: pointer;
}
.button:hover,
.button:focus {
  background: linear-gradient(96deg, #ac6115 0%, #9e7a19 100%);
}
.main {
  background-image: url("./images/group2-min.png");
  background-position: top center;
  background-repeat: no-repeat;
  overflow: hidden;
}

.header {
  position: relative;
  padding: 40px 0px;
  z-index: 5;
}

.header .container {
  justify-content: space-between;
  align-items: center;
}

.logo img {
  vertical-align: bottom;
}
.menu {
}
.menu-list {
  display: flex;
  gap: 88px;
  list-style: none;
}
.menu-item a {
  font-size: 18px;
  font-weight: 600;
  line-height: normal;
  color: #a0da0c;
  text-decoration: none;
  cursor: pointer;
}
.menu-item a:hover,
.menu-item a:focus {
  border-bottom: 2px solid #07e0ec;
  color: rgb(8, 190, 129);
}

.currency {
  box-sizing: border-box;
  display: flex;
  width: 45px;
  height: 45px;
  padding: 12px 0 11px 0;
  justify-content: center;
  align-items: center;
  border: 1px solid #ffffff;
  border-radius: 5px;
  cursor: pointer;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  user-select: none;
}
.currency:hover,
.currency:focus {
  border: 2px solid #ec07a7;
  color: rgb(8, 190, 129);
}
.main-content {
  padding-top: 103px;
  padding-bottom: 199px;
  position: relative;
}
.main-content .container {
  position: relative;
}
.main-info {
  max-width: 608px;
  z-index: 10;
}
.main-small-info {
  width: 105px;
  background-color: #d3320f;
  display: inline-block;
  padding: 12px 16px;
  border-radius: 100px;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
}
.main-title {
  font-family: "Merriweather", sans-serif;
  font-size: 120px;
  font-style: normal;
  font-weight: 900;
  line-height: 130%;
  text-transform: uppercase;
  margin-bottom: 56px;
}
.main-text {
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  width: 608px;
  margin-bottom: 56px;
}

.main-image {
  position: absolute;
  top: -123px;
  left: 210px;
}

.main-action {
}
.button {
}
/* -------WHY--------- */
.why {
  background-image: url("./images/whybg-min.png");

  background-position: top center;
  background-size: initial;
  background-repeat: no-repeat;
  overflow: hidden;
  padding-bottom: 180px;
}
.why .container,
.burgers .container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.why-list {
  display: flex;
  gap: 100px;
  list-style: none;
}
.why-title,
.burgers-title {
  color: #ffffff;
  text-align: center;
  font-family: "Merriweather", sans-serif;
  font-size: 64px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
  letter-spacing: 2px;
  text-transform: uppercase;
  margin-bottom: 60px;
}

.why-item {
  box-sizing: border-box;
  width: 312px;
  height: 287px;
  display: flex;
  flex-direction: column;
  gap: 24px;
  justify-content: center;
  align-items: center;
}
.why-item-image {
  width: 100px;
  height: 100px;
}
.why-item-title {
  color: #ffffff;
  text-align: center;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.why-item-text {
  color: #ffffff;
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 140%;
}
/* -------BURGERS--------- */

.burgers {
  background-image: url("./images/burgers_bg-min.png");

  background-position: top center;
  background-size: initial;
  background-repeat: no-repeat;
  overflow: hidden;
  padding-bottom: 180px;
}

.burgers-list {
  display: flex;
  gap: 24px;
  flex-wrap: wrap;
  list-style: none;
}
.burgers-item {
  box-sizing: border-box;
  width: 384px;
  height: 564px;
  padding: 30px;
  border-radius: 16px;
  border: 1px solid #353535;
  background: #211a16;
  display: flex;
  flex-direction: column;
  gap: 24px;
  justify-content: center;
}
.burgers-item-image {
  width: 290px;
  height: 305px;
  margin-left: auto;
  margin-right: auto;
}
.burgers-item-title {
  
font-weight: 600;
font-size: 24px;
color:#ffffff;
}
.burgers-item-text {
font-weight: 600;
font-size: 16px;
line-height: 140%;
color: #ffffff;
}
.wrap{
  width: 324px;
height: 82px;
display: flex;
justify-content: space-between;
}
.wrap1{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.burgers-item-price {

font-weight: 600;
font-size: 32px;
color: #ffffff;
}
.burgers-item-weight {
font-weight: 300;
font-size: 16px;
color: #757575
}
.burgers .button {
  border-radius: 8px;
padding: 19px 50px;
width: 182px;
height: 62px;
}
.button-image{fill: #191411;}
